* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: grid;
  width: 75%;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 3fr 3fr 1fr;
  gap: 10px;
  height: 100vh;
}

.header,
.nav,
.main,
.sidebar,
.adverstise,
.footer {
  background-color: bisque;
  border: 2px solid tomato;
  border-radius: 5px;
  padding: 10px;
}
header,
.nav,
.sidebar,
.adverstise,
.footer {
  text-align: center;
}
.footer .nav ul li a {
  text-decoration: none;
}
.nav ul li {
  list-style: none;
}
.header {
  grid-column: span 4;
}
.nav {
  grid-row: span 2;
}
.main {
  grid-row: span 2;
  grid-column: span 2;
}
.footer {
  grid-column: span 4;
}

.main article {
  margin-bottom: 15px;
  background-color: rgb(211, 224, 206);
  padding: 10px 8px;
  border-radius: 5px;
}
.main {
  overflow-x: auto;
}

@media screen and (max-width: 576px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  .header {
    grid-column: span 1;
    grid-row: span 1;
  }
  .nav {
    grid-row: span 1;
  }
  .main {
    grid-row: span 4;
    grid-column: span 1;
  }
  .footer {
    grid-column: span 1;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  .header {
    grid-column: span 4;
    grid-row: 1 span 1;
  }
  .nav {
    grid-column: span 4;
    grid-row: span 1;
  }
  .sidebar {
    grid-column: span 3;
    grid-row: span 4;
  }
  .adverstise{
    grid-column: span 3;
  }
  .main {
    grid-row: span 5;
    grid-column: span 1;
  }
  .footer {
    grid-column: span 4;
  }
}
